extend ../layout/main.layout.pug

block styles
  script(src='/js/index.js') 
  link.style(rel='stylesheet' href='/css/index.css')
  
  
 
    
block content

  .col-12
    .mt-5
      #carouselExampleInterval.carousel.slide(data-ride='carousel')
        .carousel-inner
          .carousel-item.active(data-interval='10000')
            img.d-block.w-100(src='../image/1.jpg' style='max-height: 500px' alt='...')
          .carousel-item(data-interval='2000')
            img.d-block.w-100(src='../image/2.jpg' style='max-height: 500px' alt='...')
          .carousel-item
            img.d-block.w-100(src='../image/3.jpg' style='max-height: 500px' alt='...')
        a.carousel-control-prev(href='#carouselExampleInterval' role='button' data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleInterval' role='button' data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next

block content4
  

      


    
     
block  content2
   each product in products
 
    .col-md-3.mt-5
       .card-deck.carddesign
        .card
          a(href=`/products/${product.id}`)
          
            img.card-img-top(src=`/image/${product.image}` alt='Italian Trulli')

                 
            .card-body
              h5.card-title.prx
                  a(href=`/products/${product.id}`) #{product.name}
              p.card-text #{product.price +' TL'}
              p.card-text  #{product.explain} 
              .card-footer.text-center  
                a(href=`/products/${product.id}`).btn.btn-outline-primary.btn-sm.m-1.mr-4.pr Details    
                 a(href=`#`).btn.btn-outline-primary.btn-sm.m-1.pr.addToCardBtn#i Add To Cards

block  content3
 script(src='/js/index.js') 